.holder {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;     /* allows wrapping */
      gap: 10px;
      padding: 20px;
	  width: 800px;
    }

    .item {
      width: 120px;
      height: 120px;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      /* border: 2px solid black; */
    }

    .green { background: green; }
    .red { background: red; }
    .blue { background: blue; }